li{
    list-style-type: none;
}
header{
    width: 50vw;
    display: flex;
    justify-content: center;
}
.accordion-content{
    font-size: 18px;
    display: none;
    margin-top: 8px;
    margin-bottom: 5px;
}
.accordion-control{
    width: 100%;
    height: 40px;    
    background-color: rgba(114, 219, 245, 0.514);
    font-size: 20px; 
    cursor: pointer;
          
}
#main{    
    width: 50vw;
    height: auto;
}

.selected{
    background-color: rgba(128, 128, 128, 0.726);
}
#tab-sample{
    width: 50vw;   
}
#tab-sample a{
    text-decoration-line: none;
    font-size: 20px;
}
ul.tabbed li {
    display: inline;
}
.tabbed{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.tab-panel{
    display: none;
}
.tab-panel.active{
    display: block;
    background-color: rgba(128, 128, 128, 0.726);
}
